body{
    background-color: #FCE38A
    
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
img{
    padding-top: 100px;
    padding-bottom: 20px;
    width: 500px;
}
h1{
    text-align: center;
    font-size: 75px;
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}
h3{
    text-align: center;
    font-style: oblique;
    font-size: 25px;
    margin-top: 10px;
}
.btn{
    margin-left: 45%;
}


